.modal-open {
    overflow-y: auto !important;
}

.update {
    margin: 0 0 0 225px !important;
    /* padding: -5px auto !important; */
}

.modal-title {
    /* text-decoration: underline !important; */

    background: -webkit-linear-gradient(
    20deg,
    rgb(107, 80, 226),
    rgb(174, 47, 233)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-group label{
    color: #5e60ce !important;
}

.daily-task-des {
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;
    hyphens: auto;
}

/* .input {
    box-shadow: none !important;
} */